<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>HTML 5 Boilerplate</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <style type="text/css">
            [type="radio"]:checked + span:after,
            [type="radio"].with-gap:checked + span:after {
                background-color: orange !important;
            }
            [type="radio"]:not(:checked)+span:before,
            [type="radio"]:not(:checked)+span:after {
                borderr: 2px solid #FFF;
            }
        </style>
    </head>
    <body>
        <div class="container">
	        {% block content %}
            {% endblock content %}
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>