<h1>Тест на знание цитат</h1>
<div>
    <form action="/test/quotes/" method="post">
        {% csrf_token %}
        <p>
            Ответы: {{ correct_count }} / {{ questions_count }}
        </p>
        <p>
            {% if result %}
                {% if result.correct  %}
                    Ответ "{{ result.correct_answer }}" верный!
                {% else %}
                    Ответ неверный, правильный ответ &mdash; "{{ result.correct_answer }}"
                {% endif %}
            {% endif %}
            </hr>
        </p>
        <p>
            {{ form.question.quote.text }}
        </p>
        {{ form }}
        <input type="hidden" name="question_id" value="{{ form.question.id }}">
        <input type="hidden" name="correct_count" value="{{ correct_count }}">
        <input type="hidden" name="questions_count" value="{{ questions_count }}">

        <input type="submit" value="Проверить">
    </form>
</div>

