{% extends 'base.html' %}

{% load tests_tags %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="container-fluid">
            <h1>Тест на знание цитат</h1>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-7">
        {% questions_progress run %}
    </div>
</div>

<div class="row">

    <div class="col-md-7">
        <blockquote>
            <p>
            {{ form.question.text }}
            </p>
        </blockquote>
    </div>

    <div class="col-md-5">
        <form action="/test/{{ test_name }}/run/" method="post">
            {% csrf_token %}
            
            {% for answer in form.answers %}
                <p>{{ answer }}</p>
            {% endfor %}
            <br />
            <p><input type="submit" value="Проверить" class="btn btn-primary btn-lg"></p>

            <input type="hidden" name="question_id" value="{{ form.question.id }}">
        </form>
    </div>

</div>

<br />

{% endblock content %}
